<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <form #registerForm="ngForm" (ngSubmit)="register()">
        <h2 class="text-center tex-primary">Sign up</h2>
        <hr />

        <!-- First Name -->
        <div class="mb-3 form-floating">
          <input
            type="text"
            class="form-control"
            name="firstName"
            [(ngModel)]="model.firstName"
            placeholder="First name"
          />
          <label>First name</label>
        </div>

        <!-- Last Name -->
        <div class="mb-3 form-floating">
          <input
            type="text"
            class="form-control"
            name="Last name"
            [(ngModel)]="model.lastName"
            placeholder="Last name"
          />
          <label>Last name</label>
        </div>

        <!-- Email -->
        <div class="mb-3 form-floating">
          <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="model.email"
            placeholder="Email"
          />
          <label>Email</label>
        </div>

        <!-- Password -->
        <div class="mb-3 form-floating">
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="model.password"
            placeholder="Password"
          />
          <label>Password</label>
        </div>

        <!-- Register Button -->
        <div class="form-group text-center mb-3">
          <button class="btn btn-primary w-100 py-1" type="submit">
            Register
          </button>
        </div>

        <!-- "Already have an account?" Link -->
        <div class="text-center mt-3">
          <span class="me-1">Already have an account?</span>
          <a routerLink="/login" class="text-primary sign-in-link">Sign in </a>
        </div>
      </form>
    </div>
  </div>
</div>
